body{
    background-color: rgb(255, 255, 255);
}

main{
    display: grid;
    grid-template-areas: "h h h"
                        "n n n"
                        "a a a"
                        "f f f";
    width: 90%;
    max-width: 900px;
    margin: auto;
    background-color: rgb(248, 248, 248);
}
header{
    box-sizing: border-box;
    grid-area: h;
    background-color: rgb(69, 183, 228);
    border-top: 5px;
    height: 300px;
    margin: 15px;
    border-radius: 5px;
    border: 3px solid blue;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    color: white;
}
nav{
    grid-area: n;
    box-sizing: border-box;
    margin: 15px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    border-radius: 5px;
}

nav li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
}
  
nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: yellow;
}
  
a:hover {
    background-color: orange;
}
.active{
    background-color: aqua;
    border-radius: 5px;
}
.active li{
    border: 2px solid rgb(69, 183, 228);
    padding: 0px;
    margin: 15px;
    
}
.szoveg{
    margin: 15px;
    border-radius: 5px;
    border: 3px solid blue ;
    padding: 8px;
    background-color: aqua;
}
article img{
    margin: 15px;
    border-radius: 5px;
    border: 3px solid blue ;
}
#kaktusz{
    float: left;
    margin: 15px;
    border-radius: 5px;
    border: 3px solid blue ;
    padding: 8px;
    background-color: aqua;
}

footer{
    grid-area: f;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: aqua;
    border: 2px solid rgb(69, 183, 228);
    height: 30px;
    border-radius: 3px;
    padding: 20px;
    margin: 15px;
}
@media only screen and (max-width: 700px)  {
    main{
        grid-template-areas: 
                        "h"
                        "n"
                        "n"
                        "a"
                        "f";
                    }
    
}